
</div>
<div class="footer-padding"></div>
  <div class="footer">
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #5334f5;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

      
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Joshua Organisation</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Company Registration Number: 20018/640090/07</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Main</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 80px;">
        <p>
          <a href="/about">About Us</a>
        </p>
        <p>
          <a href="/services">Services</a>
        </p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Community</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/accomation">Accomodation</a>
        </p>
        <p>
          <a href="/help">Help</a>
        </p>
      

      </div>
      <!-- Grid column -->

      <!-- Grid column -->


      
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
       <p> <i class="fas fa-home mr-3"></i> Cape Town, 402 Spaces long, SA
      </p>
        <p>
          <i  class="fas fa-envelope mr-3 "></i> info@joshuaorganisation.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +27 653363518</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 27 21 0133024</p>
      </div>
      
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Backgrounds made in XD, site in Express © 2020 Copyright
    <a href="https://ejctechnology.co.za/">EJC TECHNOLOGY</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </div>
</div>
</body>
</html>
