<%- include("partials/header"); -%>
<div class="HeroService">
  <h1>About Us</h1>
  <p>Home | About</p>

</div>

<section id="s3">
  <div class="about">
  <p>
    Joshua Organisation (Pty) is a company based in Cape Town whose task is to
    provide support in Maritime Training, Education, Transportation,
    Accommodation and Tourism services. We connect you to the best maritime
    training solutions which enfold all facets of Human Resource Development and
    Consultancy. All our partner-providers are SAMSA (STCW) accredited, and many
    of them also have OPITO accreditation for some of the offshore course.
  </p>
  <p>Member of Cape Chamber of Commerce & Industry, we undertake and specialize in Student Management whereby we facilitate the entire process of student enrolment in reliable, accredited institutions which meet all the international standards of IMO and STCW Convention and OPITO as well as South African Maritime Safety Authority (SAMSA) and Local Authorities. 
  </p>
  <p>A strong, customer-focused approach, conformance to high business standards and the continual quest for top-class quality service has enabled the company to sustain effectiveness in the chosen industries of which Joshua Organisation has been firmly structured upon. Thus in turn making the information the company has access to, valuable to any client seeking our assistance through the services we deliver. 
  </p>
<p>The company maintains a solid reputation for the expertise of its consulting and responsiveness of the support team altogether. The team has been trained to keep pace with developments within the operating industries as well as the emerging needs of its clients. The company’s service offerings are individually tailored to meet the needs of each client therefore growing the business solely through serving the needs of the client. </p>
</div>
  <div>
</section>
<%- include("partials/footer"); -%>