<%- include("partials/header"); -%>
<div class="HeroService">
    <h1>Services</h1>
    <p>Home | Services</p>
</div>


<section id="s1">
    
    <div class="row kit">
  
        <div class="feature-box col-lg-4" >
          <i class="icon far fa-check-circle fa-4x"></i>
          <h3 class="color-h3">Student Management Service</h3>
          <p>1. STCW and OPITO Maritime Training Facilitation</p>
          <p> 2. University Application - English School </p>
          <p> 3. Enrolment - SAQA Application - ECSA </p>
          <p> 4. Application - SAIMENA Application - Other </p>
          <p> 5. Professional Bodies Application</p>
        </div>
        
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="color-h3">Visa Application Service: </h3>
          <p>1. South Africa Immigration Visa Consultation </p>
          <p>2. Study Visa </p>
          <p>3. Medical Visa </p>
          <p>4. Work Visa </p>
          <p>5. Critical Skills Visa </p>
          <p>6. Business Visa </p>
          <p>7. Treaty Visa </p>
          <p>8. Relatives Visa </p>
          <p>9. Spousal Visa</p>
          <p>10. Retirement Visa</p>
          <p>11. Permanent Resident Permit </p>
          <p>12. Visa Appeal Application</p>
        </div>
        
            <div class="feature-box col-lg-4">
            <i class=" icon fas fa-heart fa-4x"></i>
            <h3 class="color-h3">Accommodation Services</h3></p>
            <h2>Self- Catering Apartments</h2>
            <p>1 Bed room </p>
            <p>2 Bed room </p>
            <p>3 Bed room </p>
            <h2>Hotel Room Standard</h2>
            <p>3 Stars Hotel </p>
            <p>4 Stars Hotel </p>
            <p>5 Starts Hotel </p>
        
        </div>
        
        <!-- Second -->
        
        
        </div>
</section>

<section id="s2">
    
    <div class="row kit">
  
        <div class="feature-box col-lg-4" >
          <i class="icon far fa-check-circle fa-4x"></i>
          <h3 class="color-h3">Transportation Services </h3>
          <p>1. Airport Pick Up</p>
          <p>Airport Drop off</p>
          <p>Private Taxi </p>
        </div>
        
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="color-h3">Support Overseas Services 
        </h3>
         <p>1. Doctors Appointmen</p>
         <p>2. Interpretation and Translation 
        </p>
        </div>
        
            <div class="feature-box col-lg-4">
            <i class=" icon fas fa-heart fa-4x"></i>
            <h3 class="color-h3">Company registration in 72h for R650</h3></p>
           <p>1. Busiiness Registration</p>
           <p>2. CIPC Included</p>
           <p>3. SARS documents</p>
           
        
        </div>
        
        <!-- Second -->
      
        
        </div>
</section>

<section id="Partners">
    <h1>Partners</h1>
    <img class="press-log1"src="photos/atmyhouse.png" alt="tc-logo">
    <img class="press-log"src="photos/katyal.png" alt="tnw-logo">
    <img class="press-log2"src="photos/capechamber.png" alt="mashable-logo">
    <img class="press-log"src="photos/ejctechnology.png" alt="biz-insider-logo">
   
  
  
  </section>
<%- include("partials/footer"); -%>
